.custom-nav-link {
    background-color: transparent;
    color: #000000; 
    border-radius: 8px;
    margin: 8px 0;
    padding: 12px 15px;
    font-weight: 700; 
    font-size: 1.05rem; 
    text-decoration: none;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}

    .custom-nav-link:hover {
        background-color: #f0f0f0;
        color: #dc3545;
        transform: translateX(8px); 
    }

::deep .custom-nav-link.active {
    background-color: #dc3545;
    color: #ffffff !important;
    font-weight: 700;
}
.nav-icon {
    margin-right: 15px;
    font-size: 1.4rem; 
    -webkit-text-stroke: 0.5px black; 
}
